.main{
    width: 80%;
    margin: 0 auto;
    background-color: pink;
    height: 400px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.desc{
    background: rgb(21, 148, 43);
    width: 300px;
    height: 200px;
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}